:root {
  --blue:#0B3C78;
  --light:#f4f8fc;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:var(--light);
}

/* NAVBAR */
nav{
  background:white;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

nav h1{
  color:var(--blue);
  cursor:pointer;
}

nav a{
  text-decoration:none;
  margin-left:20px;
  color:var(--blue);
  font-weight:bold;
}

/* HERO */
.hero{
  background:var(--blue);
  color:white;
  text-align:center;
  padding:120px 20px;
}

.hero h2{
  font-size:40px;
  margin-bottom:20px;
}

.hero button{
  padding:12px 30px;
  border:none;
  border-radius:25px;
  background:white;
  color:var(--blue);
  font-weight:bold;
  cursor:pointer;
}

/* SECTION */
section{
  padding:80px 8%;
  text-align:center;
}

.card{
  background:white;
  padding:30px;
  margin:20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* QUIZ */
.quiz-box{
  max-width:600px;
  margin:80px auto;
  background:white;
  padding:40px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.option{
  background:var(--light);
  padding:12px;
  margin:10px 0;
  cursor:pointer;
}
.option:hover{
  background:var(--blue);
  color:white;
}